* {
  margin: 0;
  padding: 0;
  font: inherit;

  --color-light-blue: #61a8df;
  --color-teal-blue: #80e3ef;
  --color-electric-blue: #4bcde9;
  --color-dark-blue: #19469b;
  --color-lime-green: #9dffb8;
  --color-mint-green: #6efdef;
}

:root {
  font-family: "Red Hat Mono", monospace;
  background-color: #323236;
  color: white;
}