* {
  margin: 0;
  padding: 0;
  font: inherit;

  --color-bone: #DDD8C4;
  --color-black-bone: hsl(229, 15%, 10%);
  --color-dark-bone: hsl(229, 15%, 16%);
  --color-green: #84B59F;
  --color-dark-green: hsl(153, 40%, 61%);
  --color-blue: hsl(194, 28%, 44%);
  --color-blue-pale: hsl(194, 28%, 70%);

  --background-color: var(--color-black-bone);
  --ui-color: var(--color-dark-bone);
}

:root { 
  font-family: "Fira Sans", sans-serif;
  background-color: var(--background-color);
  color: white;
}

.ui { /* A UI element */ 
  pointer-events: auto;
  background-color: var(--ui-color);
  padding: 1rem;
  border-radius: 6px;
}

.section {
  padding: 1rem;

  border-color: var(--color-blue-pale);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 4px;
}

h1 {
  font-size: 1.2em;
  color: var(--color-blue-pale);
}

h2 {
  font-weight: 500;
  margin-bottom: 0.2rem;
}

button, 
.button {
  color: inherit;
  background-color: rgba(255,255,255,0.1); /* Lighter */
  border-color: var(--color-blue-pale);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 4px;
  
  padding: 0.4em 0.4em;

  transition: 0.2s;

  cursor:pointer;
}

button:hover, .button:hover {
  background-color: rgba(255,255,255,0.2); /* Lighter */
}

input[type='text'] {
  padding: 4px;
  width: 40ch;
  
  border-color: var(--color-blue-pale);
  border-style: solid;
  border-width: 1.5px;
  border-radius: 4px;
}